---
import hljs from "highlight.js";
import "highlight.js/styles/tokyo-night-dark.css"

const {code, lang} = Astro.props;

const coded = hljs.highlight(code, {language:lang ?? "plaintext"}).value;
---


<pre class="">
    <code class="hljs astro-code py-0 h-fit">
        <div set:html={coded}></div>
    </code>
</pre>
